* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cabecera-principal {
    width: 100%;
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(96, 20%, 95%);
    border-bottom: 4px double #272727;
    border-top: 4px double #272727;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cabecera-principal .logo .logo1 {
    color: #272727;
    background: #fff;
    padding: 5px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: 600;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin: 0px 5px;
    border: 3px solid #272727;
}

.cabecera-principal .logo h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: 900;
    font-size: 40px;
    color: #272727;
    text-shadow: 2px 2px 2px rgb(158, 148, 148);

}

nav a {
    color: #272727;
    font-size: 16px;
    text-decoration: none;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
    color: #070606;
}

header {
    width: 100%;
}

.banner {
    width: 100%;
    height: 500px;
    background: hsla(318, 29%, 80%, 0.534);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(318, 29%, 80%, 0.534), hsla(318, 29%, 80%, 0.561)), url(img/img6.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(318, 29%, 80%, 0.534), hsla(318, 29%, 80%, 0.596)), url(img/img6.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.banner h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: 900;
    font-size: 90px;
    color: #272727;
    text-shadow: 2px 2px 2px #fff;

}

.banner h2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: 900;
    font-size: 50px;
    color: #272727;
    text-shadow: 2px 2px 2px #fff;
    margin-bottom: 30px;
}


.banner a {
    text-decoration: none;
    color: #272727;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    border: 1px solid #272727;
    border-radius: 20px;
    padding: 10px 5px;
    background: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


.banner a:hover {
    color: #fff;
    background: #272727;
}

h6 {
    color: #272727;
}

.contenedor {
    padding: 60px 0px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.sobre-mi {
    width: 100%;
    height: auto;
    background-color: hsl(96, 20%, 95%);

}

.sobre-mi .titulo {
    color: #272727;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 2px 2px 2px rgb(158, 148, 148);
    text-decoration: underline;
}

.parrafo-sobre-mi {
    padding: 10px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    color: #423f3f;
    text-align: justify;
    text-indent: 10px;
    margin-bottom: 20px;
    line-height: 30px;
    background: #fff;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}


@media screen and (max-width:800px) {

    .cabecera-principal {
        flex-direction: column;
        padding: 20px 10px 10px 10px;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .cabecera-principal .logo {

        margin-bottom: 20px;
    }

    nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .banner h1 {
        font-family: 'Times New Roman', Times, serif;
        font-style: oblique;
        font-weight: 900;
        font-size: 90px;
        color: #000000;
        text-shadow: 2px 2px 2px #fff;

    }




}


@media screen and (max-width:500px) {

    nav a {
        font-size: 12px;
        ;
    }

    .banner h1 {
        font-size: 50px;

    }

    .banner h2 {
        font-size: 25px;
    }
}



@media screen and (max-width:320px) {

    nav a {
        font-size: 10px;
        ;
    }

    .banner h1 {
        font-size: 40px;

    }

    .banner h2 {
        font-size: 20px;
    }
}