* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.contenedor {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    background: #fff;
}

.cabecera-principal {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 4px solid #c0c7cf;
    
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cabecera-principal .logo .logo1 {
    color: #fff;
    background: #c0c7cf;
    padding: 5px 10px;
    font-size: 60px;
    font-family: 'Brush Script MT';
    font-style: oblique;
    font-weight: 100;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin: 0px 5px;
    border: 4px solid #366294;
    text-shadow: 1px 1px 1px #366294;
}

.cabecera-principal .logo h1 {
    font-family: 'Brush Script MT';
    font-style: oblique;
    font-weight: 100;
    font-size: 80px;
    color: #c0c7cf;
    text-shadow: 1px 1px 1px #366294;


}
header nav{
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header nav a {
    color: #366294;
    font-size: 20px;
    text-decoration: none;
    padding: 5px 8px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: normal;
    text-shadow: 0.3px 0.3px 0.3px #366294;

}

header nav a:hover {
    text-decoration: underline;
    color: #123f74;
}

header {
    width: 100%;
}


.titulo {
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 40px;
    color: #fff;
}

.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
}

.sabor { 
    color: #fff;
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
}

.banner {
    width: 100%;
    min-height: 600px;
    margin: auto;
    background: hsla(318, 29%, 80%, 0.534);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(318, 29%, 80%, 0.534), hsla(318, 29%, 80%, 0.561)), url(../img/banner.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(318, 29%, 80%, 0.534), hsla(318, 29%, 80%, 0.596)), url(../img/banner.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.banner-info{
    flex: 1 1 46%;
    height: 450px;
    background: hsla(0, 0%, 100%, 0.597);
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-bottom: 3px solid #366294;
    border-right: 3px solid #777;
}
.banner-info h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #366294;
    font-style: italic;
}

.banner-info p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #01060c;
    font-style: italic;
    text-align: justify;
    line-height: 30px;
    font-weight: 600;
    text-indent: 30px;
}

.banner-contacto{
    flex: 1 1 46%;
    height: 450px;
    background: #fff;
    margin:10px;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.banner-contacto h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #366294;
    font-style: italic;
    text-align: center;
}